body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input {
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}
